version: '3'
services:
  ruby_code_worm:
    container_name: 'ruby_code_worm'
    user: $UID:$GID
    build:
      context: .
      args:
        UID: $UID
        GID: $GID
        UNAME: $UNAME
    tty: true
    working_dir: '/home/$UNAME/workspace'
    volumes:
      - ../:/home/$UNAME/workspace
