version: '3'
services:
  ruby_code_worm:
    build:
      context: .
    container_name: 'ruby_code_worm'
    working_dir: '/docker/workspace'
    tty: true
    volumes:
      - ../:/docker/workspace
      - /home/vagrant/.ssh:/root/.ssh
